/* Import Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* Box Styles */
  .bx-1,
  .bx-2 {
    max-width: 1440px;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
  }
  
  /* Header Styles */
  .bx-1 .head,
  .bx-2 .head,
  .bx-5 .head,
  .bx-9 .head {
    border-radius: 10px 10px 0 0;
    padding: 8px 12px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: rgb(1, 1, 81);
  }
  
  /* Form Box Styles */
  .bx-1 .form-bx {
    padding: 8px 12px;
    border-radius: 0 0 10px 10px;
  }
  
  /* Field Styles */
  .field,
  .form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* Field Header Styles */
  .field .form-head,
  .form-head {
    width: 25%;
    margin-right: 10px;
  }
  
  .form-head p {
    font-size: 20px;
    justify-content: left;
  }
  
  .form-head span {
    color: red;
  }
  
  /* Field Input Styles */
  .field .form-input,
  .form-input {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px; /* Space between radio buttons */
  }
  
  .form-input label {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between radio button and label text */
  }
  
  .form-input input {
    font-size: 16px;
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #a1a0a0;
  }
  
  /* Radio Button Group Styles */
  .form-input .rd-bx {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  .form-input .rd-bx .rd-1,
  .form-input .rd-bx .rd-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .form-input .rd-bx .rd-2 input {
    width: 15%;
  }
  
  .form-input .rd-bx .rd-2 span {
    width: 85%;
  }
  
  .form-input .emp-bx {
    width: 70%;
  }
  
  .form-input .emp-bx input {
    width: 100%;
  }
  
  /* Form Group Box Styles */
  .form-grp-bx {
    padding: 8px 12px 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .form-bx-1,
  .form-bx-2 {
    width: 50%;
  }
  
  /* Select Input Styles */
  .form-input select {
    width: 100%;
    padding: 8px 10px;
    font-size: 16px;
    color: gray;
    border-radius: 8px;
  }
  
  /* Checkbox Styles */
  .form-head-check {
    display: flex;
    gap: 10px;
  }
  
  /* Button Group Styles */
  .btn-grp-bx {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .btn-grp-bx .btn button {
    background: rgb(17, 17, 90);
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 20px;
  }
